[api keys]
WIT_AI_KEY : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[snowboy]
model_path : /path/to/snowboy/models/

[pyttsx]
PYTTSX_RATE : 150
PYTTSX_VOLUME : 0.2
PYTTSX_VOICE_EN : en-us
PYTTSX_VOICE_NL : nl

[antonyms en]
yes : no
no : yes
left : right
right : left
up : down
down : up
black : white
white : black
in : out
out : in
dark : light
light : dark
good : bad
bad : good

[antonyms nl]
ja : nee
nee : ja
links : rechts
rechts : links
wit : zwart
zwart : wit
goed : fout
fout : goed